*.*scc
*.FileListAbsolute.txt
*.aps
*.bak
*.[Cc]ache
*.clw
*.eto
*.fb6lck
*.fbl6
*.fbpInf
*.ilk
*.lib
*.log
*.ncb
*.nlb
*.obj
*.patch
*.pch
*.pdb
*.plg
*.[Pp]ublish.xml
*.rdl.data
*.sbr
*.scc
*.sig
*.sqlsuo
*.suo
*.svclog
*.tlb
*.tlh
*.tli
*.tmp
*.user
*.vshost.*
*DXCore.Solution
*_i.c
*_p.c
Ankh.Load
Backup*/
CVS/
PrecompiledWeb/
UpgradeLog*.*
[Bb]in/
[Dd]ebug/
[Oo]bj/
[Rr]elease/
[Tt]humbs.db
_UpgradeReport_Files
_[Rr]e[Ss]harper.*/
hgignore[.-]*
ignore[.-]*
svnignore[.-]*
lint.db
*.ReSharper
source/packages
source/OctopusTools.v2.ncrunchsolution
*.orig
*.userprefs
*.lock.json
.vs
.vscode
/tools/Addins/
/tools/Cake/
/tools/GitVersion.CommandLine
/tools/ILRepack
/tools/*
!/tools/packages.config
/artifacts/
/publish/
TestResult.xml
TestResults/
*.received.*
.idea/
/source/Octo/Properties/launchSettings.json
**/ExpectedSdkVersion.txt
**/launchSettings.json
